<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crime In Dallas</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin="">
    </script>
    <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-md-12 jumbotron text-center">
            <h1>Drug Related Crimes in Dallas</h1>
            <p>Use the interactive charts below to explore the dataset</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="well">
              <h3 class="text-center"> <strong> Choose your timeframe:</strong></h3>
            <div class="container">
                <a href="/"  >   
                    <button class="btn btn-primary btn-lg">Today</button>
                </a>
                <a href="https://www.google.com/" target="_blank"> <!-- insert weekly html-->
                    <button class="btn btn-primary btn-lg">Weekly</button>
                </a>
                <a href="monthly.html">
                    <button class="btn btn-primary btn-lg">Monthly</button>
                </a>
                <a href="https://www.google.com/" target="_blank">  <!-- insert yearly html-->
                    <button class="btn btn-primary btn-lg">Yearly</button> 
                </a>
            </div>
              
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-5">
              <div id="chart1"></div>   
              <!-- <img src="" alt="sample chart" width="500" height="400"> -->
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-5">
              <div id="chart2"></div> 
              <!-- <img src="" alt="sample chart" width="500" height="400"> -->
            </div>
        </div>
      
        <div class="row text-center p-2">
            <div id="bubble">
              <!-- <img src="" alt="map"> -->
            </div>
        </div>
      </div>
    <!-- insert javascipt files under here -->
    <script type="text/javascript" src="..\static\js\today_data.js"></script>
    <script type="text/javascript" src="..\static\js\week_data.js"></script>
    <script type="text/javascript" src="..\static\js\month_data.js"></script>
    <script type="text/javascript" src="..\static\js\year_data.js"></script>
    <script type="text/javascript" src="../static/js/monthly_script.js"></script>
      
</body>
</html>