<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crime In Dallas</title>
    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

    <!-- Leaflet heatmap plugin-->
    <script type="text/javascript" src="../static/js/leaflet-heat.js"></script>

    <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
 
    <!-- plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- personal css file -->
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body class="monthly">
    <div class="container">
        <div class="row">
          <div class="col-md-12 jumbotron text-center">
            <h1>Drug Related Crimes in Dallas</h1>
            <p>Use the interactive charts below to explore the dataset</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="well">
              <h3 class="text-center"> <strong> Choose your timeframe:</strong></h3>
              <div class="container buttons-time-frame">
                  <a href="/"  >   
                      <button class="btn btn-primary btn-lg">Today</button>
                  </a>
                  <a href="https://www.google.com/" target="_blank"> <!-- insert weekly html-->
                      <button class="btn btn-primary btn-lg">Weekly</button>
                  </a>
                  <a href="/monthly">
                      <button class="btn btn-primary btn-lg">Monthly</button>
                  </a>
                  <a href="https://www.google.com/" target="_blank">  <!-- insert yearly html-->
                      <button class="btn btn-primary btn-lg">Yearly</button> 
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div id="map">
          <!-- graphics -->
        </div>
        <div class="row">
            <div class="col-md-5">
              <div id="chart1"></div>   
              <!-- graphics -->
            </div>
            <div class="col-md-5">

              <div id="chart2">
                <!-- graphics -->
              </div> 

            </div>
        </div>
    <!-- insert javascipt files under here -->
    <script type="text/javascript" src="..\static\js\today_data.js"></script>
    <script type="text/javascript" src="..\static\js\week_data.js"></script>
    <script type="text/javascript" src="..\static\js\month_data.js"></script>
    <script type="text/javascript" src="..\static\js\year_data.js"></script>
    <script type="text/javascript" src="..\static\js\monthly_script.js"></script>
      
</body>
</html>